<!DOCTYPE html PUBLIC "-//W3Cj/DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="My Start Page">
<meta name="keywords" content="start search corey pauley">
<title>Start</title>
<link href="media/css/screen.css" rel="stylesheet" type="text/css" media="screen, projection">
<link href="media/css/print.css" rel="stylesheet" type="text/css" media="print">
<!--[if IE]><link rel="sylesheet" href="media/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link href="media/css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/media/js/prototypes.js"></script>
<script type="text/javascript" src="/media/js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/media/js/start.js"></script>
</head>

<body>

<br>

<div class="container">

	<div id="header" class="span-24 last">
		<a class="noicon" href="http://{{domain}}/"><img src="media/img/myGenesis.png" alt="My Genesis Logo" id="logo" /></a>
	</div>
</div>

<br/><br/>

<div class="container">
	<div id="querybox" class="span-24 last">
		<div class="span-7" id="prompt"><b>yeluapyeroc@internets:~#</b></div>
		<div class="span-10"><input class="span-10" type="text" id="query"></div>
		<div class="span-7 last" id="message"></div>
	</div>

</div>
<!--End container header-->

</body>

</html>
